<!--
https://codepen.io/bradtraversy/pen/ZEGGNRb
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link   th:href="@{/css/join-test.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">

    <link   th:href="@{/css/item-test.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">

    <title>Title</title>
    <!--
    <script>
        document.querySelector('.menu-btn').addEventListener('click', () => document.querySelector('.main-menu').classList.toggle('show'));
    </script>-->
</head>
<body>
<div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
</div>

<div class="container">
    <!-- Nav -->
    <nav class="main-nav">
        <test>농부아지야</test>
        <!--<img src="https://i.ibb.co/wwLhz98/logo.png" alt="Microsoft" class="logo">-->

        <ul class="main-menu">
            <li><a href="#">데이터확인</a></li>
            <li><a href="#">선물거래</a></li>
            <li><a href="#">뉴스정보</a></li>
            <li><a href="#">크라우드펀딩(진행예정)</a></li>
        </ul>

        <ul class="right-menu">
            <li>
                <a href="#">로그인</a>
                <a style="display: none" href="#">로그아웃</a>
            </li>
            <li>
                <a href="#">회원가입</a>
                <a style="display: none" href='#'>정보수정</a>
            </li>
            <li>
                <a href="#">마이페이지</a>
            </li>
        </ul>
    </nav>
</div>


<div class="img">
<img
        th:src="@{/img/로고.PNG}"/>
</div>

<div class="title">
    <p>회원가입</p>
</div>

    <!--item content-->
<div class = "join">
    <section>
        <!-- e-mail / id -->
        <div>
            <p>아이디(이메일)</p>
            <input title="이메일">
        </div>

        <!-- 패스워드 -->
        <div>
            <p>비밀번호</p>
            <input title="이메일">
        </div>

        <!-- 패스워드 확인 -->
        <div>
            <p>비밀번호 확인</p>
            <input title="이메일">
        </div>

        <!-- 이름 -->
        <div>
            <p>이름</p>
            <input title="이메일">
        </div>

        <!-- 생산자 체크 -->
        <div>
            <p>생산자여부</p>
            <button>해당있음</button>
            <button>해당없음</button>
        </div>

        <!-- 기업,개인-->
        <div>
            <p>사업자번호</p>
            <button>해당있음</button>
            <button>해당없음</button>
            <!--<input title="사업자번호">-->
        </div>

    </section>

</div>

<div class="bottom">
    <button class="back"
            th:onclick="|location.href='@{/test}'|"
            type="button">이전으로</button>
    <button class="join-btn"
            th:onclick="|location.href='@{/test}'|"
            type="button">가입하기</button>
</div>



<!-- Footer -->
<footer class="footer">
    <div class="footer-inner">
        <div><i class="fas fa-globe fa-2x"></i> 한국어 </div>
        <ul>
            <li><a href="#">농넷</a></li>
            <li><a href="#">KAMIS</a></li>
            <li><a href="#">한국농어촌공사</a></li>
            <li><a href="#">영남대학교</a></li>
        </ul>
    </div>
</footer>

</body>
</html>