<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link   th:href="@{/css/select.css}"
            href="/css/select.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <div class="select-top">
        <div class = "select-supply">
            <button class = "select-button" th:onclick="|location.href='@{/main}'|" type="button">
                데이터
                <br>
                바로가기
            </button>

        </div>
        <div class = "select-demand">
            <button class = "select-button" th:onclick="|location.href='@{/main}'|" type="button">
                구입
                <br>
                바로가기
            </button>
        </div>
    </div>
</body>
</html>