
.container {
    margin-top: 20px;
    width:100%;
    border:2px solid black;
    padding:10px;
    display: flex;
    flex-flow: row wrap;
}
.content-left{
    flex: 0.1;
    flex-direction: row;
}
.content-center{
    text-align: center;
    flex: 0.8;
    flex-direction: row;
}
.content-right{
    text-align: center;
    flex: 0.2;
    flex-direction: row;
}

.container_middle{
    flex-flow: row wrap;
}

.main-left{
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex: 0.5;
    flex-direction: row;
}
.main-right{
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex: 0.5;
    flex-direction: row;
}