.select-top{
    padding: 20px;
    height: 400px;
}

.select-supply{
    float:left;
}

.select-demand{
    margin-left: 50px;
    float: left;
}

.select-button{
    width: 250px;
    height: 250px;
    font-size: 40px;
    color: #12b564;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
}